<html><body>
<h1>Qubes templates</h1>

All templates are signed with my Qubes OS Signing key:
<br>
<a href="http://pgp.mit.edu/pks/lookup?search=0x8B3F30F9C8C0C2EF">0x8B3F30F9C8C0C2EF</a>
<br>
<br>
<pre>
pub   4096R/C8C0C2EF 2016-06-25
      Key fingerprint = 4B1F 400D F256 51B5 3C41  41B3 8B3F 30F9 C8C0 C2EF
uid                  unman (Qubes OS signing key) <unman@thirdeyesecurity.org>
sub   4096R/4731B36C 2016-06-27 [expires: 2022-06-30]
</pre>

<br>
You'll need to get this from a keyserver, or two, to make sure all is fine.
<br>
You can also check the Qubes users mailing list or <a href="https://github.com/unman/unman">github</a>.
<br>
<br>
You can check the signature, after importing my public key, by, (e.g):
<br>
'rpm -K template_package_name'
<br>
<br>
Templates like Parrot or Kali are based on Debian testing.
<br>
To avoid breakage when updating the core Qubes packages are on hold. 
This means that they will not be updated.
You can check this by 'apt-mark showhold'.
<br>
'apt-mark unhold' will remove the hold and allow you to update the Qubes packages.
I suggest you restore the hold (apt-mark hold) to make sure that the Qubes p0ackages are not removed when updating other packages.
<br>
<br>
unman
	
</body></html>
