<html><body>
<h1>Qubes templates</h1>

All templates are signed with my Qubes OS Signing key:
<code>
pub   4096R/C8C0C2EF 2016-06-25
      Key fingerprint = 4B1F 400D F256 51B5 3C41  41B3 8B3F 30F9 C8C0 C2EF
uid                  unman (Qubes OS signing key) <unman@thirdeyesecurity.org>
sub   4096R/4731B36C 2016-06-27 [expires: 2022-06-30]
</code>

<br>
You can read about how to get a copy of the key, and how to validate it <a href="./index.html">here</a>.
<br>
You will need to copy the key in to dom0:
<br>
<code>
qvm-run -p  <qube> 'cat <path to key> ' > unman.pub
</code>
<br>
and then import it:
<code>
sudo rpm --import unman.pub
</code>
<p>
Download the template you want to use, and copy it into dom0:
<br>
<code>
qvm-run -p  <qube> 'cat <path to downloaded template> ' > <template_package_name>
</code>
<br>
replacing <pre><template_package_name></pre> with a name of your choice.
<br>
Then check the signature by (e.g):
<br>
<code>
rpm -K template_package_name
</code>
<br>
<p>

Templates like Parrot or Kali are based on Debian testing.
<br>
To avoid breakage when updating, the core Qubes packages are on hold. 
<b>This means that they will not be updated.</b>
You can confirm this by running <code>apt-mark showhold</code>
<br>
<code>apt-mark unhold </code> will remove the hold, and allow you to update the Qubes packages.
<br>
I suggest you restore the hold <code>apt-mark hold </code> to make sure that the Qubes packages are not removed when updating other packages.
<br>
<br>
unman
	
</body></html>
